body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #b1d8df;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    padding: 2rem;
}

.card {
    background-color: #b1d8df;
    padding: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.card img {
    max-width: 100%;
    max-width: 300px;
    border: 2px solid #333;
}


#home h2 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

#home p {
    font-size: 18px;
    color: #666;
    text-align: center;
}

#home strong {
    font-weight: bold;
    color: #333;
}

#home img {
    max-width: 20px;
    vertical-align: middle;
}



@media screen and (max-width: 768px) {
    header {
        padding: 0.5rem 0;
    }
    nav ul {
        text-align: center;
        padding-top: 1rem;
    }
    nav li {
        margin: 0;
    }
    section {
        padding: 1rem;
    }
}


@media print {
    body {
        font-size: 12pt;
    }
    header, footer {
        display: none;
    }
}   